In [6]:
import pandas as pd
import numpy as np

In [7]:
train_dataset_raw = pd.read_csv('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/train.csv')
train_dataset_raw.head(10)

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000
5,2152929,HINS Metal Bucket Shape Plant Pot for Indoor &...,"[Simple and elegant, great for displaying indo...",HINS Brings you the most Elegant Looking Pot w...,5725,950.000000
6,413758,Ungifted: My Life and Journey,NaN,NaN,23,598.000000
7,2026580,Delavala Self Adhesive Kitchen Backsplash Wall...,[HIGH QUALITY PVC MATERIAL: The kitchen alumin...,<p><strong>Aluminum Foil Stickers-good kitchen...,6030,984.251967
8,2050239,PUMA Cali Sport Clean Women's Sneakers White L...,[Style Name:-Cali Sport Clean Women's Sneakers...,NaN,3302,393.700000
9,2998633,Hexwell Essential oil for Home Fragrance Oil A...,[100% Pure And Natural Essential Oil Or Fragra...,"Transform your home, workplace or hotel room i...",8201,393.700787

In [8]:
train_dataset_raw.isnull().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [9]:
feature_list = train_dataset_raw.columns[:-1].values
print("Feature list: ",feature_list)

Feature list:  ['PRODUCT_ID' 'TITLE' 'BULLET_POINTS' 'DESCRIPTION' 'PRODUCT_TYPE_ID']

In [10]:
label = [train_dataset_raw.columns[-1]]
print("Label: ",label)

Label:  ['PRODUCT_LENGTH']

In [11]:
train_dataset_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249698 entries, 0 to 2249697
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   PRODUCT_ID       int64
 1   TITLE            object
 2   BULLET_POINTS    object
 3   DESCRIPTION      object
 4   PRODUCT_TYPE_ID  int64
 5   PRODUCT_LENGTH   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 103.0+ MB

In [12]:
train_dataset_raw.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  2.249698e+06     2.249698e+06    2.249698e+06
mean   1.499795e+06     4.000456e+03    4.071839e+03
std    8.661944e+05     3.966146e+03    1.351685e+06
min    1.000000e+00     0.000000e+00    1.000000e+00
25%    7.494795e+05     2.300000e+02    5.118110e+02
50%    1.499558e+06     2.916000e+03    6.630000e+02
75%    2.250664e+06     6.403000e+03    1.062992e+03
max    2.999999e+06     1.342000e+04    1.885801e+09

In [13]:
train_dataset_raw_na_dropped = train_dataset_raw.dropna()

In [14]:
train_dataset_raw_na_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1038460 entries, 2 to 2249697
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PRODUCT_ID       1038460 non-null  int64
 1   TITLE            1038460 non-null  object
 2   BULLET_POINTS    1038460 non-null  object
 3   DESCRIPTION      1038460 non-null  object
 4   PRODUCT_TYPE_ID  1038460 non-null  int64
 5   PRODUCT_LENGTH   1038460 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 55.5+ MB

In [15]:
train_dataset_raw_na_dropped.describe()

         PRODUCT_ID  PRODUCT_TYPE_ID  PRODUCT_LENGTH
count  1.038460e+06     1.038460e+06    1.038460e+06
mean   2.042501e+06     5.170455e+03    6.713314e+03
std    6.280456e+05     3.928656e+03    1.985306e+06
min    8.000000e+00     0.000000e+00    1.000000e+00
25%    1.537351e+06     2.197000e+03    4.330709e+02
50%    2.102976e+06     3.278000e+03    7.086614e+02
75%    2.597901e+06     7.978000e+03    1.200000e+03
max    2.999997e+06     1.342000e+04    1.885801e+09

In [16]:
df = pd.DataFrame(train_dataset_raw_na_dropped)
column_names = ['BULLET_POINTS']
df.to_csv("/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts.csv",index=False, columns=column_names)

In [17]:
bullet_points_unclean = pd.read_csv('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts.csv')
bullet_points_unclean.head()

                                       BULLET_POINTS
0  [Loud Dual Tone Trumpet Horn, Compatible With ...
1  [Made By 95%cotton and 5% Lycra which gives yo...
2  [Simple and elegant, great for displaying indo...
3  [HIGH QUALITY PVC MATERIAL: The kitchen alumin...
4  [100% Pure And Natural Essential Oil Or Fragra...

In [18]:
bullet_points_unclean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038460 entries, 0 to 1038459
Data columns (total 1 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   BULLET_POINTS  1038460 non-null  object
dtypes: object(1)
memory usage: 7.9+ MB

In [19]:
bullet_points_na_dropped = bullet_points_unclean.dropna()
bullet_points_na_dropped.head()

                                       BULLET_POINTS
0  [Loud Dual Tone Trumpet Horn, Compatible With ...
1  [Made By 95%cotton and 5% Lycra which gives yo...
2  [Simple and elegant, great for displaying indo...
3  [HIGH QUALITY PVC MATERIAL: The kitchen alumin...
4  [100% Pure And Natural Essential Oil Or Fragra...

In [20]:
bullet_points_na_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038460 entries, 0 to 1038459
Data columns (total 1 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   BULLET_POINTS  1038460 non-null  object
dtypes: object(1)
memory usage: 7.9+ MB

In [18]:
import csv
# Open the CSV file for reading
with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts.csv', 'r') as csv_file:
    # Create a new text file for writing
    with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts.txt', 'w') as txt_file:
        # Create a CSV reader object
        csv_reader = csv.reader(csv_file)
        # Loop over each row in the CSV file
        for row in csv_reader:
            # Write each row as a tab-separated string to the text file
            txt_file.write('\t'.join(row) + '\n')

In [2]:
import re
import emoji
# Open the input text file for reading
with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts.txt', 'r') as input_file:
    # Open a new output file for writing
    with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts-no-emoji.txt', 'w') as output_file:
        # Loop over each line in the input file
        for line in input_file:
            # Convert any emoji in the line to their text representations
            cleaned_line = emoji.demojize(line)
            # Remove any emoji text from the line using a regular expression
            cleaned_line = re.sub(':.*?:', '', cleaned_line)
            # Write the cleaned line to the output file
            output_file.write(cleaned_line)

In [3]:
from bs4 import BeautifulSoup
# Open the input text file for reading
with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts-no-emoji.txt', 'r') as input_file:
    # Open a new output file for writing
    with open('/Users/samik/Desktop/Programming/Amazon-Hackathon-ML/Dataset/dataset/bullet-pts-no-emoji-no-html.txt', 'w') as output_file:
        # Parse the HTML file using BeautifulSoup
        soup = BeautifulSoup(input_file, 'html.parser')
        # Extract the text from the parsed HTML
        text = soup.get_text()
        # Write the cleaned text to the output file
        output_file.write(text)